/* color pallete
light green - #88c543
normal green - #329a11 
blue - #1c59c3
*/


header {
    height: 10vh;
    background-color: #1c59c3;
}

#headerLogo {
    height: 10vh;
}

.headerNavLinks {
    text-decoration: none;
    color: white
}